.header-container{
    display: flex;
    flex-direction:row;
    background-color:#181884;
    height: 50px;
    align-items: center;
    color: white;
    justify-self: center;
    justify-content: space-around;
    font-family: Roboto
    
} 
.social-container{
display: flex;
align-self: center;
margin-top: 12px;

/* margin-left: 50px; */

}
.social-icons{
    display: flex;
    align-self: center;
    margin-left: 20%;
    /* margin-left: 45%; */
    
}
.social-icons>svg:not(:root) {
    overflow: hidden;
    font-size: 18px;
    margin-top: -2%;
    
}
.social-container >.email svg{
   
    font-size: 20px;
    align-self: center;
    margin-top: -2px;
}
.social-icons > .first-r  { left: 0%; position: relative; }
.social-icons > .second-r { left: 25%; position: relative; }
.social-icons >.third-r  { left: 50%; position: relative; }
.social-icons >.fourth-r  { left: 75%; position: relative; }

 /* .email svg{
      margin-left: 2px;
 } */
p{
    cursor: pointer;
    margin-left: 10px;
}
h6{
    color: white;
    /* cursor: pointer; */
    
}
/* .anticon svg {
    display: inline-block;
    margin-top: -40%;
    margin-left: -71%;
} */
/* p.email{
    margin-left: 15%; 
} */
p.phone{
    margin: 0 0 0 25px;
}
 /* here header.jsx file css  */

 /* .head-centered .overlay-slider h1{
    font-family: myriadopro !important;
    background-color: greenyellow;
 } */

@media screen and (min-width:220px) and (max-width: 1024px){
    .header-container{
        display: flex;
        flex-direction: row;
        background-color:#181884;
        height: 70px;
        width: 100%;
        color: white;
        align-self: center;
        /* justify-content:space-around; */
        
        
        
    } h6{
        color: white;
    }
    p{
        cursor: pointer;
        margin-left: 0;
    }
    .social-container {
        display: flex;
        margin-left:0; 
        align-self: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 0px;
        
        margin-left: -5%;
    }
    .social-icons {
        display: flex;
        align-self: center;
        margin-left: 0%;
        
    }
    p.phone {
        margin: 0 0 0 0;
    }
    .social-icons>svg:not(:root) {
        overflow: hidden;
        font-size: 15px;
        margin-top: -2%;
        margin-left: -6%;
    }
    /* p.email {
        margin-left: -1%;
    }
    p.phone {
        margin: -4px 0 0 -10%;
    }
    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: -4%;
        cursor: pointer;
        margin-top: 3%;
    } */
    /* .anticon svg {
        display: inline-block;
        margin-top: -7px;
        margin-left: -100%;
    }
    .fa-phone:before {
     
        margin-left: -20px;
    } */
    
}

/* @media only screen and (min-width : 320px) {

} */

/* Extra Small Devices, Phones */ 
/* @media only screen and (min-width : 480px) {

} */

/* Small Devices, Tablets */
/* @media only screen and (min-width : 768px) {

} */

/* Medium Devices, Desktops */
/* @media only screen and (min-width : 992px) {

} */

/* Large Devices, Wide Screens */
/* @media only screen and (min-width : 1200px) {

} */